language: java
jdk: openjdk11
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
  sonarcloud:
    organization: urly-webengineering
    token:
      secure: yJR2gjPkz7C50ntfHx38QC1o7rXZ5L0jk9WcTb0CPrjP13Gbp8UsUCltc9RStN3nn1qvknmSyKDHCXykomwZBgQyw3kI5q4i+IlO4r7N84SKXJ2FazAqGbzB47yRILDmJ11e7kL8Y3E090xiz+w69jkuxYv/nPJQZWHQ09z+E5HU2V02dorJw/s8wqr6+INzUPx8P1CALl/W40RiFXyCK3UpbK2PDgyhg6d+V7Xp0zQeDVRgNRZiDyV8i0drlIvVyKRXlEpT5rRLkkS2wlTp/SzPuXvMoHm84NOgcRH0x1cB9I/p4xMi9W06q1KVT47LQGVt1UV5lfRYRwL9tCXTuV8Sl0OVw7XQB4pTWwqeHDW31EIlbIWEY5rWA9uWVsh6U8Vxl8xEx1uIkqmBNrmK50fDqWEglgncOxg/5axjJVpJFjU4ZCq/5k2aIGZDM3O2jCmhRV4t/UTjCrJi/ygBNPoI3or4tYhHT1e92SKkv1KErqTPdUHfR52ekyp5Eve/9bPIT+NKGBdwslVk6weImFuZasiuBfDlEi+rr6dvYS5zXtE9/KOXe+1tdkv8WxsssHM/dz70S5POjCwVzz5M0DVaztDkF9r4M6439SLgzg/a3J3ubyxSgnFrCMqYCWxyYiZ4KX82YUZdyPzX9KrG7pBop+zxvAWtKCSbm4yFV8w=
script:
- "./gradlew verifyGoogleJavaFormat test jacocoTestReport sonarqube"
env:
  - DATABASE=jdbc:mysql://localhost:3306/urly DB_USERNAME=urly DB_PASSWORD=root
  global:
    secure: HKd1GqbUx2wvR1+IL1YzkW2xg/L9xolXXAWZnfQcQJu3XzU+uHV2otcw/eExATeKeT2TUsXv3FDlzvWwWkCyuvjj2ZQU3JTawZMAwl1KLLMv02WKWldmaEPrrJv/2+q36D+7eoPFEg9N5I299tAHR0doKLCWSBTnq5/Oyial5mLudy05hfJryHoaOklP1Dz3uOUP2hsiTFYV/RgeBk8X57zPfYCTwwtrQbkJdLGl60t6gta0mJjWQ4xcBC7r9KqVTukJKAnRe10raj8S/ZULJCjhFMWnzjZsIX0taw71TY3zHdXuSFmnpzPuZhkLYDH18KCu/u0Xu3mUdvGdxpZpSm8O0cslJ8Lo6UBPWA9TllYvCMkbaMwOwrkOxnJZd+GcGTLzqMaLDxFEy1SeHPJMhbdOOXGKMYy4su9PG4KlVatN/U5tRMBULzd68zjqk0ZqRHr9FPf6aV1B/AMePLx5sI/mjr+di06CHM9m6stZneJgspwNP3IRqG/sJEr0ZqBl4IBoRoEXnIHkjJ79JkK1Em+dTe/v6VK4M5t/lI3CmG4cYSTcfjqwKKP08oADPUKw+9hcGRVkXOswVg13IzqWy9iQDuWBHy57xyj5SnD09pgc+SuvCFGxXpX3H1ZnPt6wJPZGBGoLvCOO3gNLkOdXiFFnqSCYF7XnIga3mtaNekk=
services:
  - mysql
dist: trusty
sudo: required
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS urly; USE urly;'