language: java
jdk: openjdk11
addons:
  sonarcloud:
    organization: urly-webengineering
    token:
      secure: yJR2gjPkz7C50ntfHx38QC1o7rXZ5L0jk9WcTb0CPrjP13Gbp8UsUCltc9RStN3nn1qvknmSyKDHCXykomwZBgQyw3kI5q4i+IlO4r7N84SKXJ2FazAqGbzB47yRILDmJ11e7kL8Y3E090xiz+w69jkuxYv/nPJQZWHQ09z+E5HU2V02dorJw/s8wqr6+INzUPx8P1CALl/W40RiFXyCK3UpbK2PDgyhg6d+V7Xp0zQeDVRgNRZiDyV8i0drlIvVyKRXlEpT5rRLkkS2wlTp/SzPuXvMoHm84NOgcRH0x1cB9I/p4xMi9W06q1KVT47LQGVt1UV5lfRYRwL9tCXTuV8Sl0OVw7XQB4pTWwqeHDW31EIlbIWEY5rWA9uWVsh6U8Vxl8xEx1uIkqmBNrmK50fDqWEglgncOxg/5axjJVpJFjU4ZCq/5k2aIGZDM3O2jCmhRV4t/UTjCrJi/ygBNPoI3or4tYhHT1e92SKkv1KErqTPdUHfR52ekyp5Eve/9bPIT+NKGBdwslVk6weImFuZasiuBfDlEi+rr6dvYS5zXtE9/KOXe+1tdkv8WxsssHM/dz70S5POjCwVzz5M0DVaztDkF9r4M6439SLgzg/a3J3ubyxSgnFrCMqYCWxyYiZ4KX82YUZdyPzX9KrG7pBop+zxvAWtKCSbm4yFV8w=
script:
  - ./gradlew test jacocoTestReport sonarqube
